.kSBIxJ {
  font-weight: bold;
  border-radius: 50px;
  padding: 0px;
  height: 48px;
  background: transparent linear-gradient(270deg, rgb(223, 53, 101) -80%, rgb(251, 149, 86) 100%) no-repeat scroll 0% 0% padding-box;
  border: 0px none;
  width: 100%;
  font-size: 20px;
  color: rgb(255, 255, 255);
}

.kSBIxJ { 
  background-color: rgb(251, 149, 86) !important;
  color: rgb(255, 255, 255) !important;
}