#components-layout-demo-custom-trigger .trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: #fff;
}

.ant-layout-sider-children {
  height: 100vh;
}

.tituloHeader {
  color: rgb(59, 92, 184);
  margin: 10px;
  line-height: 15px;
  font-weight: 700;
}

.containerCardsHome {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

@media(max-width: 767px) {
  .containerCardsHome {
    flex-direction: column;
    gap: 0;
  }
}

@media(max-width: 450px) {
  .ant-row {
    flex-direction: column;
    align-items: center;
  }
}

/* Informações do card Seu resumo */
.containerCardSeuResumo {
  display: flex;
  flex-direction: column;
}

.containerTitulo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 7pt;
}

.tituloResumo {
  color: #3B5CB8;
  font-size: 25pt;
  font-weight: 700;
}

.iconeVerMais:hover {
  opacity: .7;
  cursor: pointer;
}

.containerValorInvestido {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10pt;
  margin: 37pt 0 35pt 0;
}

.infoValor {
  color: #606377;
  font-size: 16pt;
}

.valorInvestido {
  color: #3B5CB8;
  font-size: 22pt;
  font-weight: 700;
}

.ant-row {
  justify-content: space-between;
}

.valoresRentabilidade {
  color: #3B5CB8;
  font-size: 18pt;
  font-weight: 700;
}

.containerRentabilidade {
  display: flex;
  flex-direction: column;
  gap: 10pt;
}

.containerDivider {
  border-bottom: 1px solid #9AA3BC;
  margin: 27pt 0 22pt 0;
}

.containerBtn {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.btnVerMais {
  border-radius: 30px;
  height: 32px;
  background: transparent none repeat scroll 0% 0%;
  font-size: 1em;
  font-weight: bold;
  color: #3B5CB8;
  min-width: 103px;
  text-align: center;
  cursor: pointer;
  outline: currentcolor none medium;
  opacity: 0.9;
  transition: all 0.3s ease 0s;
  border: 1px solid #3B5CB8;
}

.btnVerMais:hover {
  opacity: 1;
  transform: translateY(-1px);
  box-shadow: rgba(0, 0, 0, 0.28) 0px 3px 11px 0px;
}